.ejs-app {
  ul {
    li {
      list-style-type: none;
    }
  }
}
html {
  font-size: 14px;
}
body {
  background-color: #ddd;
  margin: 0;
  font-family: Roboto, 'SansSerif';
}
img {
  max-width: 100%;
  max-height: 100%;
}
a:hover {
  text-decoration: none;
  color: #000;
}
ul {
  padding-left: 0;
}
.loading-modal {
  .vm--overlay {
    opacity: 0.5;
  }
  .vm--modal {
    width: 250px !important;
    height: 250px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    background: transparent;
    opacity: 1;
    border-radius: 50%;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100px;
    }
  }
}
.empty-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  color: $text-gray;
}
header {
  .navbar-expand .navbar-nav .dropdown-menu {
    min-width: 100%;
    border: none;
    border-radius: 0;
    background-color: rgba(51, 51, 51, 0.95);
    li {
      padding: 0 20px;
      &:not(:first-child) {
        .dropdown-item {
          border-top: solid 1px #ddd;
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
    .dropdown-item {
      color: #fff;
      font-weight: 500;
      font-size: 18px;
      padding: 12px 30px 12px 0px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
.dropdown-toggle::after {
  content: '\f078';
  font-family: 'Font Awesome 5 Pro';
  border: none;
  margin-left: 10px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}
