// Variable overrides
$text-red: #F6391F;
$text-green: #61B92C;
$text-gray: #5E5D5B;
$text-gray2: #ddd;
$text-yellow: #E8E14D;
// border color
$border-red: rgba(246, 57, 31, 0.5);
// background color
$bg-green: #64db3a4d;
$bg-red: #EE7070;
$bg-hover-red: #FDEEEF;
