body {
  background-color: #fff;
}
$headerHeight: 60px;
.ejs-header {
  position: absolute;
  width: 100%;
  height: $headerHeight;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: $text-red;
  color: #fff;
  font-size: 20px;
  a {
    color: white;
    &:hover {
      color: $text-red;
      background-color: $bg-red;
    }
    &.nav-link{
      padding: 0;
      line-height: 60px;
      min-width: 150px;
      text-align: center;
      &.active {
        color: $text-red;
        background-color: #f2dede;
      }
    }
  }
}
$footerHeight: 110px;
.ejs-footer {
  width: 100%;
  height: $footerHeight;
  display: flex;
  z-index: 10;
  margin-top: 20px;
  background-color: $text-red;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  a {
    color: white;
    :hover {
      color: $text-green;
    }
  }
}
.header-content, .footer-content {
  padding: 20px;
}
.ejs-content {
  padding-top: $headerHeight;
  overflow-y: auto;
  min-height: 90vh;
}
.ejs-app {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  .side-bar {
    .sidebar-item {
      a {
        display: block;
        padding: 8px 16px;
        color: #000;
        font-weight: 500;
        font-size: 20px;
        &:hover {
          color: $text-red;
          background-color: $bg-red;
          text-decoration: none;
        }
      }
      &.active {
        a {
          color: $text-red;
        }
      }
    }
  }
}
