.detail-lesson {
  &-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    border-bottom: solid 2px $text-red;
  }
  .lesson-name {
    h1 {
      font-size: 24px;
      font-weight: 700;
    }
  }
}
.unit-type-header {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 16px;
  align-items: center;
  img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  span {
    font-size: 12px;
    font-weight: normal;
    color: $text-gray;
  }
  div {
    display: inline-flex;
    flex-direction: column;
  }
}
.unit-type-item {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  height: 60px;
  align-items: center;
  //border: solid 1px #ddd;
  margin-bottom: 16px;
  border-radius: 8px;
  //padding: 16px;
  //overflow: hidden;
  i {
    font-size: 18px;
    color: $text-gray2;
    margin-right: 10px;
  }
  .japan-name {
    margin-top: 0;
    span {
      font-weight: bold;
    }
  }
  span {
    font-size: 14px;
    font-weight: normal;
  }
  a {
    color: black;
    &:hover {
      color: $text-green;
    }
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    padding-right: 20px;
  }
}
