.report-content {
  .report-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 20px;
    .progress {
      height: 30px;
      border-radius: 1px;
      font-size: 14px;
    }
    .report-label {
      font-weight: 500;
      width: 100px;
    }
    .report-progress {
      flex: 1;
      padding: 0 30px;
    }
    .report-result {
      width: 200px;
    }
  }
}
